html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway";color:white}

a {text-decoration: none;
color: inherit}
a:hover{
    font-weight: bold;
    color: rgb(105,105,105)
}

.container1{
    margin: 1em 2em 1em 1em;
    height:100%;
    overflow: auto;
    overflow-y: scroll;
    max-height: 700px;
    transition: all 0.5s;
    transition-timing-function: ease-out;
}
.container{
    z-index: 2;
    display: block;
    object-fit: contain;
    background-color:rgb(0,0,0);
    font-size: 15px;
    line-height: 1.4em;
    color: white;
    height: fit-content;
}

.pad{
    padding-left: 0.8em;
    padding-right:0.8em;
    top:0;
    margin: 0px;
    background-color:rgb(0,0,0);
    text-decoration: none;

}
.container img{
    float: left;
    width: 48px;
    height:48px;
}

body{
    margin-left: 0px;
    background-color:rgb(0,0,0);
}


  p{
      margin-left: 60px;
  }

  /* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
#weather-icon ,#wind-icon{
    margin-left: 2em;
}

.weather{
    color: #FFFFFF;
    display:block;
    font-size: 200%;

}
.weather h6{
    float: right;
    width:70%;
}